@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');

.link {
  font-size: 1.5em;
  text-decoration: none;
  color: white;
  position: fixed;
  top: 1em;
  left: 5em;

  @media (max-width: 768px) {
    left: 1em;
    font-size: 1.2em;
  }

  @media (max-width: 400px) {
    position: relative;
  }
}

.boxDetails {
  color: rgb(223, 223, 223);
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;

  .intro {
    background: #181818;
    border-radius: 5px;
    margin-top: 2em;
  }

  .heroProp {
    background: #181818;
    margin: 0.5em 0;
    padding: 0 1em;
  }

  h3 {
    font-size: 2.6em;
    font-weight: bold;
    margin: 0.7em 0;
  }

  p {
    margin: 0.5em 0;
    color: rgb(223, 223, 223);

    span {
      color: rgb(223, 179, 179);
      font-weight: bolder;
    }
  }

  .intro {
    display: flex;

    div.heroImg {
      width: 30%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    img {
      width: 100%;
    }

    div.nameDetails {
      width: 100%;
      text-align: center;

      h2.name {
        font-size: 3em;
      }

      h2.bio {
        font-size: 1.5em;
      }

      @media (max-width: 768px) {
        h2.name {
          font-size: 2em;
        }

        h2.bio {
          font-size: 1.2em;
        }
      }
    }

    @media (max-width: 768px) {
      div.heroImg {
        width: 45%;
        margin: 0.2em;
      }
    }

    @media (max-width: 400px) {
      flex-direction: column;

      div.heroImg {
        width: 100%;
        margin: 0;
        height: 20em;
      }
    }
  }

  .appearance {
    h3 {
      color: rgb(151, 47, 255);
    }
  }

  .biography {
    h3 {
      color: rgb(9, 52, 196);
    }
  }

  .connections {
    h3 {
      color: rgb(255, 49, 152);
    }
  }

  .powerstats {
    h3 {
      color: rgb(2, 216, 127);
    }
  }

  .work {
    h3 {
      color: rgb(255, 148, 8);
    }
  }

  @media (max-width: 768px) {
    width: 70%;

    h3 {
      font-size: 2.1em;
    }
  }
}

body {
  margin: 0;
  padding: 0;
  background: #0f0f0f;
  font-family: 'Rubik';
}
