div.homeContainer {
  flex-direction: column;
  display: flex;

  .heroLink {
    color: rgb(177, 177, 177);
    margin: 0.5em 0;
    padding: 0 24%;
    text-decoration: none;

    @media (max-width: 768px) {
      padding: 0 15%;
    }

    @media (max-width: 380px) {
      padding: 0 8%;
    }
  }

  .box {
    border: 1px solid rgb(126, 126, 126);
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 0.5em;
    width: 100%;

    div.boxImg {
      align-items: center;
      background-image: url(https://cdn.jsdelivr.net/gh/akabab/superhero-api@0.3.0/api/images/sm/2-abe-sapien.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      justify-content: center;
      width: 25%;

      img {
        width: 100%;
      }
    }

    div.boxName {
      text-align: center;
      width: 70%;

      h3.listName {
        font-size: 2.1em;
      }

      h4.listName {
        font-size: 1em;
        margin: 1em;
      }

      p {
        margin-top: 2.5em;
      }

      @media (max-width: 768px) {
        h3.listName {
          font-size: 1.6rem;
        }

        h4.listName {
          font-size: 0.8em;
        }

        p {
          font-size: 0.9em;
        }
      }
    }
  }
}
